* {
    font-size: 1.25rem;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #016630;
    color: #fff;
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    width: 56rem;
}

.header-button {
    font-size: 0.8rem;
    margin-left: 20px;
    padding: 10px;
    display: inline-block;  
} 

.header-button:hover {
    background-color: #008235;
    border-radius: 10px;
}

.header-button.selected {
    background-color: #008235;
    border-radius: 10px;
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
}

main > div {
    width: 56rem;
}

h1 {
    font-size: 2em;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.Tagline {
    font-size: 1.4rem;
}

.first-part {
    background-color: black;
    color: #fff;
    height:fit-content;
}

.orange-button {
    background-color: #ff6900;
    color: #fff;
    border-radius: 20px;
    height: 70px;
    width: 350px;
    text-decoration: none;
}

.orange-button:hover {
    background-color: #f54900;
}

h2 {
    margin-bottom: 1.2em;
    font-size: 1.75rem;
}

.second-part {
    background-color: #f0fbf8;
    padding: 75px;
    height: 15rem;
}

.contains_boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.boxes {
    border-radius: 25px;
    
}

.box-top {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px 25px 0px 0px;
}

.box-bottom {
    width: 250px;
    height: 100px;
    background: #fff;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    padding: 0px 20px 20px 20px;
    border-radius: 0px 0px 25px 25px;
    gap: 10px;
}

.blue {
    background-color: #2b7fff;
}

.green {
    background-color: #00c950;
}

.orange {
    background-color: #ff6900;
}

.boxes:hover {
    box-shadow: 0px 20px 30px rgba(0,0,0,0.75);
}

.boxes:hover h3 {
    color: #008236;
}

.third-part {
    display: flex;
    align-items: center;       
    gap: 20px;    
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.green-button {
    background-color: #009e3b;
    color: #fff;
    border-radius: 10px;
    height: 50px;
    width: 140px;
    text-decoration: none;
    border: none;
}

.green-button:hover {
    background-color: #008236;
}

.orange-button:hover {
    background-color: #f54900;
}

.image-container img {
    width: 30rem;              
    height: 40rem;
}

footer {
    background-color: #016630;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.bigger-text {
    font-size: 1.5rem;
    padding: 0.5rem;
}

.medium-text {
    font-size: 1.25rem;
    padding: 0.5rem;
}

.small-text {
    font-size: 1rem;
    padding: 0.5rem;
}