* {
    font-size: 1.25rem;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #016630;
    color: #fff;
    display: flex;
    justify-content: center;
    position: sticky;
    z-index: 0;
    top: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    width: 56rem;
}

.header-button {
    font-size: 0.8rem;
    margin-left: 20px;
    padding: 10px;
    display: inline-block;
    text-decoration: none;  
    color: #fff;
} 

.header-button:hover {
    background-color: #008235;
    border-radius: 10px;
}

.header-button.selected {
    background-color: #008235;
    border-radius: 10px;
}

.burger {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
}

@media (max-width: 56rem) {  

    header {
        position: relative;
        width: 100%; 
    }

    .burger {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 4rem;
        right: 1rem;
        background-color: #016630;
        width: 14rem;
        padding: 1rem;
        border-radius: 1rem;
    }

    .nav-links.active {
        display: flex;
    }

    .header-button {
        margin: 0.6rem 0; 
    }
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
    text-wrap: balance;
}

h1 {
    font-size: 2em;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.Tagline {
    font-size: 1.4rem;
}

.first-part {
    background-color: black;
    color: #fff;
    height:fit-content;
}

.center {
    padding-left: 56rem;
    padding-right: 56rem;
    max-width: 56rem;
}

.orange-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-decoration: none;  
    background-color: #ff6900;
    color: #fff;
    border-radius: 20px;
    height: 60px;
    width: 350px;
}

.orange-button:hover {
    background-color: #f54900;
}

h2 {
    margin-bottom: 1.2em;
    font-size: 1.75rem;
}

.second-part {
    background-color: #f0fbf8;
    padding: 75px;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(autofit, minmax(300px, 1fr));
    gap: 15px;
    justify-content: center;
}

.contains_boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

@media (max-width: 600px) {
  .contains_boxes {
    flex-direction: column;
  }
}

.boxes {
    border-radius: 25px;
}

.box-link {
    text-decoration: none; 
    color: inherit;       
    flex-shrink: 0;        
    display: block;        
}

.box-top {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px 25px 0px 0px;
}

.box-bottom {
    width: 250px;
    height: 100px;
    background: #fff;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    padding: 0px 20px 20px 20px;
    border-radius: 0px 0px 25px 25px;
    gap: 10px;
}

.blue {
    background-color: #2b7fff;
}

.green {
    background-color: #00c950;
}

.orange {
    background-color: #ff6900;
}

.boxes:hover {
    box-shadow: 0px 20px 30px rgba(0,0,0,0.75);
}

.boxes:hover h3 {
    color: #008236;
}

.third-part {
    display: flex;
    align-items: center;       
    gap: 20px;    
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.green-button {
    background-color: #009e3b;
    color: #fff;
    border-radius: 10px;
    height: 50px;
    width: 140px;
    text-decoration: none;
    border: none;
    display: inline-block;
    text-align: center;    
    line-height: 50px;     
}

.green-button:hover {
    background-color: #008236;
}

.orange-button:hover {
    background-color: #f54900;
}

.image-container img {
    width: 30rem;              
    height: 40rem;
}

footer {
    background-color: #016630;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.bigger-text {
    font-size: 1.5rem;
    padding: 0.5rem;
}

.medium-text {
    font-size: 1.25rem;
    padding: 0.5rem;
}

.small-text {
    font-size: 1rem;
    padding: 0.5rem;
}